.button {
  margin-left: 30px;
  display: inline-block;
  background-color: $accent;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 14px 26px;
  font-weight: 700;
  position: relative;
  border: none;
  border-radius: $btn-radius;
  overflow: hidden;
  transition: box-shadow 0.1s linear;
  &:hover {
    box-shadow: 0 0px 15px 8px rgba($accent, 0.5);
  }
  &:after {
    content: "";
    display: block;
    width: 10px;
    height: 300px;
    margin-left: 60px;
    background: #fff;
    background: -moz-linear-gradient(
      top,
      rgba(255, 255, 255, 0.7) 0%,
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 0.7) 100%
    );
    background: -webkit-linear-gradient(
      top,
      rgba(255, 255, 255, 0.7) 0%,
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 0.7) 100%
    );
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.7) 0%,
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 0.7) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3ffffff', endColorstr='#b3ffffff',GradientType=0 );
    position: absolute;
    left: -40px;
    top: -150px;
    z-index: 1;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    -webkit-animation-name: slideme;
    animation-name: slideme;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-delay: 0.05s;
    animation-delay: 0.05s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }

  @keyframes slideme {
    0% {
      left: -30px;
      margin-left: 0px;
    }
    30% {
      left: 110%;
      margin-left: 80px;
    }
    100% {
      left: 110%;
      margin-left: 80px;
    }
  }

  &:hover,
  &focus {
    color: #fff;
    text-decoration: none;
    &::before {
      width: 100%;
    }
  }
  @include media-breakpoint-down(sm) {
    padding: 12px 18px;
    margin-bottom: 10px;
  }
}

.button__text {
  position: relative;
  z-index: 2;
}

.button--modal {
  margin: 0;
}
