.purpose {
  display: flex;
  flex-wrap: wrap;
  @include media-breakpoint-down(lg) {
    margin: 0 -15px;
  }
}
.wave-purpose {
  transform: rotate(180deg);
  display: block;
  width: 100%;
  position: absolute;
  top: 70%;
  left: 0;
  z-index: -1;
}
.purpose-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include media-breakpoint-down(lg) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.purpose-item {
  box-shadow: 0 0 15px 2px rgba(#000, 0.5);
  width: 30%;
  padding: 15px;
  min-height: 280px;
  max-height: 280px;
  margin-bottom: 10px;
  position: relative;
  border-radius: 25px;
  background-color: $dark;
  &:not(:nth-child(3n)) {
    margin-right: 15px;
  }

  @include media-breakpoint-down(lg) {
    width: 40%;
    margin-right: 15px;
    &.purpose-item--wifi .purpose-item--tv .purpose-item--radio {
      margin-right: 0;
    }
  }
  @include media-breakpoint-down(sm) {
    margin: 10px 15px;
    width: 100%;
  }
}

.purpose-item__title {
  font-size: 24px;
  line-height: 100%;
  font-weight: 700;
  color: $accent;
  text-align: center;
}

.purpose-item--tv {
  height: 100%;
  background-image: url(../images/dist/purpose/tv.jpg);
  background-position: center bottom 15px;
  background-size: contain;
  background-repeat: no-repeat;
}

.purpose-item--wifi {
  height: 100%;
  background-image: url(../images/dist/purpose/wifi-darken.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.purpose-item--smart {
  height: 100%;
  background-image: url(../images/dist/purpose/smart-house.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.purpose-item--mobile {
  height: 100%;
  background-image: url(../images/dist/purpose/mobile.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.purpose-item--fire {
  height: 100%;
  background-image: url(../images/dist/purpose/fire.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.purpose-item--radio {
  height: 100%;
  background-image: url(../images/dist/purpose/radio.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
