.section {
  position: relative;
  padding: 80px 0;
}

.section--about {
  background-color: $deep;
}

.section--catalog {
  padding: 50px 0;
  background-color: #fff;
}

.section-header {
  position: relative;
  z-index: 3;
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: center;
}

.section__suptitle {
  font-size: 24px;
  color: #fff;
}

.section__title {
  position: relative;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.section__title--black {
  color: #333;
}

.section__title:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: 0 auto 15px;
  background-color: $accent;
}

.section__text {
  line-height: 100%;
  font-size: 20px;
  color: #fff;
}

.section__text--black {
  color: #333;
}
