.section {
  position: relative;
  padding: 80px 0;
}

.section--about {
  background-color: $deep;
}

.section-header {
  position: relative;
  z-index: 3;
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: center;
}

.section__suptitle {
  font-size: 24px;
  color: #fff;
}

.section__title {
  position: relative;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.section__title:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: 0 auto 15px;
  background-color: $accent;
}

.section__text {
  line-height: 100%;
  font-size: 20px;
  color: #fff;
}

.section__info {
  max-width: 950px;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  line-height: 120%;
}

.info-item {
  width: 33.333%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.info-item__icon {
  width: 100px;
  height: 100px;
}

.info-item__header {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 700;
}

.info-item__text {
  min-height: 100px;
  padding: 0 10px;
  margin-top: 15px;
  font-size: 14px;
}

.wave {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
}
